.menu ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
 }

.menu ul li {
  display: inline;
  border-right: 1px, gray;
  padding-right: 1px;
  padding-left: 1px;
}

.county_names li {
  display: inline;
  border-right: 1px, gray;
  padding-right: 1px;
  padding-left: 1px;
}
